<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <summary money="236" percent="60"></summary>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <orders></orders>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <parts></parts>
    </div>
</div>
