<input type="text" ng-model="search" placeholder="Szukaj">
<table class="table" ng-controller="PartsCtrl" autofocus>
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Cena / 100 sztuk</th>
        <th>
            <button type="button" class="btn btn-default" ng-click="add()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="newPart != null">
        <td><input ng-model="newPart.name"></td>
        <td><input ng-model="newPart.price"></td>
        <td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="create(newPart)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="cancelAdd()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </td>
        </td>

    </tr>
    <tr id="part_{{part.id}}" ng-repeat="part in parts | filter:search">
        <td ng-show="editedPartId != part.id">{{part.name}}</td>
        <td ng-show="editedPartId == part.id"><input ng-model="part.name"></td>
        <td ng-show="editedPartId != part.id">{{part.price}}</td>
        <td ng-show="editedPartId == part.id"><input ng-model="part.price"></td>
        <td ng-show="editedPartId != part.id">
            <button type="button" class="btn btn-default" ng-click="edit(part)">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
        <td ng-show="editedPartId == part.id">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="update(part)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="cancelEdit()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

