body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    color: #fff;
    text-decoration: none;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.tile {
    width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 30px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	color: #fff;
}
