.summary{
    background-color:  #2196f3;
    font-size: larger !important;
}

.summary .sum{
    color: #fff;
    text-align: center;
    display: block;
    font-weight: bolder !important;
}

.summary h2 {
    margin-bottom: 50px;
}

.summary .progress {
    background: #bbdefb;
}

