<link rel="stylesheet" type="text/css" href="scripts/components/summary/summary.css">

<div class="summary tile">
    <!-- TODO: Currency filter -->
    <div class="sum"><h2>{{money}} PLN</h2></div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
            {{percent}}%
        </div>
    </div>
</div>
